<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanardev.instagrammqtt">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.Manifest.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <application
        android:name=".core.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode"
        tools:replace="android:label">
        <activity android:name=".ui.main.MainActivity">

        </activity>
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.twofactor.TwoFactorActivity">

        </activity>
        <activity android:name=".ui.direct.DirectActivity">

        </activity>
        <activity android:name=".ui.startmessage.StartMessageActivity">

        </activity>

        <service android:name="com.sanardev.instagrammqtt.service.fbns.FbnsService">
            <intent-filter>
                <action android:name="com.sanardev.instagrammqtt.FBNS.ACTION_CHECK_SESSION" />
                <action android:name="com.sanardev.instagrammqtt.FBNS.ACTION_HEARTBEAT" />
                <action android:name="com.sanardev.instagrammqtt.FBNS.ACTION_CONNECT_SESSION" />
                <action android:name="com.sanardev.instagrammqtt.FBNS.ACTION_DISCONNECT_SESSION" />
            </intent-filter>
        </service>

        <service android:name="com.sanardev.instagrammqtt.service.realtime.RealTimeService">
            <intent-filter>
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_CHECK_SESSION" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_HEARTBEAT" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_CONNECT_SESSION" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_DISCONNECT_SESSION" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_TEXT_MESSAGE" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_MARK_AS_SEEN" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_MEDIA" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_LOCATION" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_REACTION" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_TYPING_STATE" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_USER_STORY" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_LIKE" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_PROFILE" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_HASHTAG" />
            </intent-filter>
        </service>

    </application>

</manifest>