<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanardev.instagrammqtt">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:name=".core.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode"
        tools:replace="android:label">
        <activity android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.twofactor.TwoFactorActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.direct.DirectActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.startmessage.StartMessageActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.fullscreen.FullScreenActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.playvideo.PlayVideoActivity"
            android:screenOrientation="portrait">

        </activity>

        <receiver android:name=".receiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.DismissNotificationReceiver"
            android:exported="false">

        </receiver>
        <service android:name="com.sanardev.instagrammqtt.service.fbns.FbnsService">
            <intent-filter>
                <action android:name="com.sanardev.instagrammqtt.FBNS.ACTION_CHECK_SESSION" />
                <action android:name="com.sanardev.instagrammqtt.FBNS.ACTION_HEARTBEAT" />
                <action android:name="com.sanardev.instagrammqtt.FBNS.ACTION_CONNECT_SESSION" />
                <action android:name="com.sanardev.instagrammqtt.FBNS.ACTION_DISCONNECT_SESSION" />
            </intent-filter>
        </service>

        <service android:name="com.sanardev.instagrammqtt.service.realtime.RealTimeService">
            <intent-filter>
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_CHECK_SESSION" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_HEARTBEAT" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_CONNECT_SESSION" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_DISCONNECT_SESSION" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_TEXT_MESSAGE" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_MARK_AS_SEEN" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_MEDIA" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_LOCATION" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_REACTION" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_TYPING_STATE" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_USER_STORY" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_LIKE" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_PROFILE" />
                <action android:name="com.sanardev.instagrammqtt.REALTIME.ACTION_SEND_HASHTAG" />
            </intent-filter>
        </service>

        <service
            android:name=".service.firebasemessaging.AppFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_send" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" />


    </application>

</manifest>